<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forecast</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
    >
    <link rel="stylesheet" href="../static/indexStyles.css" th:href="@{/indexStyles.css}">
</head>
<body>
    <section>
        <div class="header">
            <h1>Spring Boot weather app</h1>
        </div>
        <div class="weather_table">
            <form method="post" th:action="@{/search}">
                <input
                        class="form-control"
                        type="text" name="city" id="city"
                        placeholder="search for weather in city...">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">CITY</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">TEMPERATURE</th>
                    <th scope="col">FEELS LIKE</th>
                </tr>
                </thead>
                <tbody>

                <tr th:if="${searchResult}" th:each="city : ${searchResult}">
                    <td>
                        <a th:href="@{/detail/{city}(city = ${city.city})}"
                           th:text="${city.city}">CITY</a>
                    </td>
                    <td th:text="${city.description}">DESCRIPTION</td>
                    <td th:text="|${city.temperature} °C|">TEMPERATURE</td>
                    <td th:text="|${city.feelsLike} °C|"></td>
                </tr>

                <tr th:each="city : ${weather}">
                    <td>
                        <a th:href="@{/detail/{city}(city = ${city.city})}"
                           th:text="${city.city}">CITY</a>
                    </td>
                    <td th:text="${city.description}">DESCRIPTION</td>
                    <td th:text="|${city.temperature} °C|">TEMPERATURE</td>
                    <td th:text="|${city.feelsLike} °C|"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>